#principal{
margin-left: auto;
margin-right: auto;
border: 1px solid #000;
  margin: auto;

}

header{
width: 900px;
height: 100px;
margin-left: auto;
  margin-right: auto;

}


#logo{
	width: 200px;
	height: 100px;
	
	float: left;
	
}
.menu{
margin-right: auto;
margin-left: auto;

float: right;
background: brown;
margin-top: 40px;


}
 .menu ul{

 }

 .menu ul li{
list-style: none;
float: left;


 }
 .menu ul li a{
text-decoration: none;
padding: 10px 15px;
border: 0px solid #ccc;
color: white;

 }
.img1{
	margin-left: auto;
	margin-right: auto;
}

